@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #6542e6,
    ),
  ),
  $font-size: (
  "base": 1.1em,
  ),
  $text-color: (
  "primary": #000000,
  "regular": #000000,
  "secondary": #000000
  ),
);

@import "global.css";
@import "normalize.css";
@import "element-plus/dist/index.css";